{% extends "layout.html" %}

{% block content %}

<section class="about-section">

    <div class="about-card">

        <h1>About OptiCrop</h1>

        <p>
            <strong>Smart Agricultural Production Optimization Engine (OptiCrop)</strong>
            is an Artificial Intelligence-powered crop recommendation system that helps farmers choose the most suitable crop based on environmental and soil conditions.

            <br><br>

            The system analyzes Nitrogen (N), Phosphorus (P), Potassium (K), Temperature, Humidity, Soil pH, and Rainfall using Machine Learning algorithms.

            <br><br>

            OptiCrop improves agricultural productivity by providing intelligent crop recommendations. It supports sustainable farming practices, efficient resource utilization, and data-driven agricultural decision-making.

            <br><br>

            The application combines Data Analysis, Machine Learning, and Flask Web Development to deliver an easy-to-use crop prediction platform that helps farmers make informed agricultural decisions.
        </p>

    </div>

</section>

{% endblock %}